/* .signups{
 
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  margin-right: 300px;
  width: 70%;
}

.sgup{
margin-bottom: 30px;
margin-top: 20px;
text-align: center;
}

.steper{
   position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
   width: 70%;
 margin-left: 12rem;
  
}

.steps{
    display: flex;
  flex-direction: column;
  align-items: center;
}

.stepnumber{
    width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  z-index: 2;
}

.stepname{
    font-size: 14px;
}

.stepname-bold{
  color: darkslategray;
  font-weight: bold;
}

.stepname-weak{
  color: gray;
  font-weight: 400;
}

.accomment{
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.bitndi{
  display: flex;
  justify-content: center; 
  align-items: center;
}

.bitnb{
  border-radius:16px;
    border: solid 2px wheat;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 18px;
    color: aliceblue;
    background-color: aliceblue;
    background: linear-gradient(180deg, #004d9ac9 27%, #0199f1 70%);
    box-shadow: 8px 8px 14px 2px rgba(168, 155, 255, 0.42);
  margin-left:5px ;
  margin-right: 5px;
}

.bitnn{
border-radius:16px;
    border: solid 2px wheat;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 18px;
    color: aliceblue;
    background-color: aliceblue;
    background: linear-gradient(180deg, #009c2dc9 27%, #01f12d 70%);
    box-shadow: 8px 8px 14px 2px rgba(155, 255, 157, 0.42);
  margin-left:5px ;
  margin-right: 5px;
  margin-left:5px ;
  margin-right: 5px;
}

.active .stepnumber {
  background-color: #007bff;
  color: #fff;
}

.complete .stepnumber {
  background-color: #28a745;
  color: #fff;
}

.progressbar {
  position: absolute;
  top: 25%;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #ccc;
}

.progress {
  height: 100%;
  background-color: #28a745;
  transition: 0.2s ease;
}  */

.signups{
 text-align: center;
}
.pghed{
  margin-top: 20px;
  min-height: 100vh;
  display: flex;flex-direction: column;
  font-size: calc(10px + 2vmin);

}

.centralStepper{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}